/* YeyeYeee código aquí */
/*ESTILOS INDEX*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

}

#inicio{
	background: #3e3f41;
	padding-bottom: 60px;
}

.logo{
	width: 150px;
	padding-top: 80px;
}



.form-input {
  border: 1px solid #ebebeb;
  padding-top: 4px;
  background: white;
  font-size: 12px;
  position: relative;
}



.form-input .input {
  background: #fff;
  border: none;
  padding: 18px;
  width: 90%;
}

.form-input .icon {
  left: 0;
  margin: .5em;
  position: absolute;
  top: 0;
  font-size: 22px;
  background: white;
  padding-top: 5px;
}

button{
	background: #F4A728;
	color: #3e3f41;
	padding: 18px;
	border-color: #41521F;
	width: 100%;
	border-style: none;
	margin-top:10px;
	font-size: 17px;
	letter-spacing: 2px;
	border: 1px solid  #F4A728;
}

.titulo-inicio{
	font-size: 30px;
	font-weight: bold;
	color: #F4A728;
	letter-spacing: 2px;
	font-family: 'Anton', sans-serif;
	padding-bottom: 30px;
}

.olvido-pass{
	text-align: left;
	color: white;
	padding-top: 2px;

}

.cuenta{
	color:white;
	padding-top: 20px;
}

.registrate{
	text-decoration: none;
	color: #F4A728;
	font-weight: bold;
}


/*INDEX1*/

#opciones{
	background: #D6D5D5;
	padding-top: 150px;
	padding-bottom: 195px;
}
.navbar-default {
    background-color: #3e3f41;
   
    padding-bottom:10px;
    margin-bottom: 0;
}

.navbar {
    padding: 5px 0  0 10px;   
}

.navbar-toggle{
    float: left;
    margin-left: 10px;
    border: none;
    width: 7%;

	}

.titulo-nav1{
	color: white;
	font-size: 20px;
	padding-top: 8px;

}

.btn-1{
	background: #F4A728;
	color: white;
	padding: 12px;
	border-color: #41521F;
	width: 80%;
	border-style: none;
	margin-top:10px;
	font-size: 20px;
	letter-spacing: 2px;
	border: 1px solid  #F4A728;
	
}

.navbar-collapse {
	background-color: white;
	border: white;

}

.icon-menu{
	font-size: 25px;
	color: #F4A728;
	background-color: white;
	padding: 10px;
	margin-left: 10px;

}

/*INDEX2*/

.img-circle{
	width: 200px;
	margin-top:50px;
	margin-bottom: 50px;

}

#perfil {
	background-color:  #F4A728;
	
}

#tarjeta-ingreso{
	background-color: #D6D5D5;
	padding-bottom: 143px;
}

 .tarjeta-num{
	width: 400px;
    padding: 13px 20px;
    margin: 8px 0;
	background: #D6D5D5;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid #75726c;
    margin-top: 20px;
}

.btn-2{
	background: #F4A728;
	color: white;
	padding: 12px;
	border-color: #41521F;
	width: 400px;
	border-style: none;
	margin-top:10px;
	font-size: 20px;
	letter-spacing: 2px;
	border: 1px solid  #F4A728;
}

.correo-index{
	background-color: white;
	
}

.correo-index span{
	margin: 40px;
	padding: 10px;
}

/*INDEX3*/

#preguntas{
	background-color:  #F4A728;
	padding: 60px;
}

.titulo-preguntas{
	font-size: 30px;
	color: white;

}

#tabla-preg .tab-content {
  color : white;
  background-color: #F4A728;
  padding : 17px 15px;
  padding-top: 10px;
}

.tab-pane {
	color: white;
}

.nav-pills a{
	background-color: #D6D5D5 !important;

}

#preguntas-frecuentes{
	background-color: #D6D5D5;
	padding-bottom: 188px;
}

.resp-preg{
	font-size: 13px;
}

/*index4*/
#saldo{
	background-color:  #D6D5D5;
	height: 594px;
}

.boton-saldo4{
	background: #F4A728;
	color: white;
	padding: 12px;
	border-color: #41521F;
	width: 200px;
	border-style: none;
	margin-top:10px;
	font-size: 20px;
	letter-spacing: 2px;
	border: 1px solid  #F4A728;
}

.tarjeta-saldo,
.tarjeta-saldo5{
	width: 400px;
    padding: 13px 20px;
    margin: 8px 0;
	background: #D6D5D5;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid #75726c;
    margin-top: 60px;
}

#option{
	width: 400px;
    margin: 8px 0;
	background: white;
    margin-top: 40px;
    margin-bottom: 40px;
   border: none;
    padding-top: 60px;
}

/*INDEX5*/

#option-tarifa,
#option-tarjeta{
	width: 200px;
    margin: 8px 0;
	background: white;
    margin-top: 40px;
   	border: none;
    
}

.boton-calcular{
	background: #F4A728;
	color: white;
	padding: 12px;
	border-color: #41521F;
	width: 200px;
	border-style: none;
	margin-top:10px;
	font-size: 20px;
	letter-spacing: 2px;
	border: 1px solid  #F4A728;
	margin-top: 40px;
}

.input-box {
  position: relative;
}
.input-box span{
  display: block;
  background-color: rgba(51,51,51,0.4);
  padding: 5px;
  left: 105%;
  top: 8px;
  width: 200px;
  color: white;
}






