/* YeyeYeee código aquí */
/*ESTILOS INDEX*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

	background-color: #3e3f41;
}

.logo{
	width: 150px;
	padding-top: 80px;
}



.form-input {
  border: 1px solid #ebebeb;
  padding-top: 4px;
  background: white;
  font-size: 12px;
  position: relative;
}



.form-input .input {
  background: #fff;
  border: none;
  padding: 18px;
  width: 90%;
}

.form-input .icon {
  left: 0;
  margin: .5em;
  position: absolute;
  top: 0;
  font-size: 22px;
  background: white;
  padding-top: 5px;
}

button{
	background: #F4A728;
	color: #3e3f41;
	padding: 18px;
	border-color: #41521F;
	width: 100%;
	border-style: none;
	margin-top:10px;
	font-size: 17px;
	letter-spacing: 2px;
	border: 1px solid  #F4A728;
}

.titulo-inicio{
	font-size: 30px;
	font-weight: bold;
	color: #F4A728;
	letter-spacing: 2px;
	font-family: 'Anton', sans-serif;
	padding-bottom: 30px;
}

.olvido-pass{
	text-align: left;
	color: white;
	padding-top: 2px;

}

.cuenta{
	color:white;
	padding-top: 20px;
}

.registrate{
	text-decoration: none;
	color: #F4A728;
	font-weight: bold;
}




